//
// # Appaid Styles
//
// Appaid sass styles, which compile to ../resources/style.css
//


.appaid .appaid-bar {
}
.appaid .appaid-btns {
}
.appaid .appaid-btns > button,
.appaid .appaid-btns > button.kdbutton,
.appaid .appaid-btns > div {
  float: right;
  margin: 6px 12px 0 0;
}

.appaid .appaid-btns > .kdbutton.small {
  padding: 0 12px;
}

.appaid .appaid-bar .kdheaderview {
  border-bottom: 0px;
}

// The following fixes a .inner-header related issue
.appaid .appaid-btns > button {
  top: 0;
}
.appaid .appaid-bar.inner-header .title {
  font-size: 11px;
  font-weight: normal;
  text-indent: 0;
  line-height: 24px;
}

// The KDF is causing a weird overflow on any resize of the viewport.
// this is in place to stop that.. it's a hack, but i can't figure out
// the real cause.. so this fixes it.
// 
.appaid > .kdsplitview-horizontal > .panel-0 {
  overflow: hidden;
}
